@font-face {
    font-family: 'Averta';
    src: url('../fonts/averta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Bold';
    src: url('../fonts/averta.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Light';
    src: url('../fonts/averta-light-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/averta-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gshow-primary: #FF6700;
    --special-ad: #ffaa00;
    --text-primary: #333333;
    --confirmation-btn: #3AB7EA;
    --secondary: #FFFFFF;
}

.special-ad {
    background-color: var(--special-ad);
    color: var(--secondary);
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    padding: 0px 4px;
    display: inline-block;
}

.img-large {
    max-width: 150%;
    height: auto;
}


::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--special-ad);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--gshow-primary);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--special-ad);
}

html {
    overflow-y: scroll;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    background: url('../images/bg-verde.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.text-primeiroParagrafo {
    font-family: "Averta-Light";
    font-size: 19px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.highlight-bold {
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    color: white;
}

.cada-mulher {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}

.pointer {
    cursor: pointer;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.triangulo-container {
    position: absolute;
    top: 320px;
    right: 2px;
    z-index: 1;
}

.triangulo-direito {
    height: auto;
}

.triangulo-container-esquerdo {
    position: absolute;
    z-index: 1;
}

.m-800 {
    max-width: 800px;
    margin: auto;
}

.m-600 {
    max-width: 600px;
    margin: auto;
}

/* Imagem de fundo */
.custom-background {
    height: 780px;
    width: 100%;
    top: -60px;
    z-index: -99;
    position: absolute;
    background-image: url(../images/fundo-completo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.custom-text-overlay {
    max-width: 1000px;
}

.textocard-image {
    max-width: 475px;
    width: 100%;
    height: auto;
}

.custom-description {
    font-family: "Averta-Light";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.25px;
    margin-top: 20px;
    text-align: center;
}

/* Botão */
.custom-btn {
    font-family: "Averta-Regular";
    margin-top: 20px;
    width: 200px;
    background: linear-gradient(80.85deg, #FF8B22 3.17%, #FFB719 91.16%);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition: background 1.5s ease, opacity 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
    transition: background 1.5s ease, opacity 0.3s ease, transform 0.2s ease;
    background: linear-gradient(80.85deg, #FFB719 3.17%, #FF8B22 91.16%);
    opacity: 1;
    transform: scale(1.05);
}

.circle-btn {
    width: 60px;
    height: 60px;
    background-color: #90EE90;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.circle-btn:hover {
    transform: scale(1.1);
}

.circle-btn i {
    color: white;
    font-size: 24px;
}

footer {
    background: url('../images/bg-verde.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

footer .fas {
    transition: transform 0.3s ease-in-out;
}

footer .fas:hover {
    transform: scale(1.2);
}

footer img {
    max-width: 150px;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

footer p {
    margin-bottom: 15px;
}

footer img {
    max-width: 50px;
    margin: 0 auto;
}

footer .btn {
    background-color: #fff;
    color: #006B3F;
    font-size: 1.5rem;
}

footer .btn:hover {
    background-color: #e0e0e0;
    color: #004D2E;
}

/* Container para os ícones */
.icon-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

/* Estilo para o hover nos ícones */
.icon-container:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Ajustando as imagens dentro dos ícones */
.icon-container img {
    max-width: 40%;
    max-height: 40%;
}

.video-item {
    width: 925px !important;
    height: 500px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}

.video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.react-title {
    font-size: 2rem;
    font-weight: bold;
    color: #F97316;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.Conquiste-title {
    font-size: 36px;
    font-weight: bold;
    color: #82EA5B;
    margin-bottom: 10px;
}


/* Descrição */
.react-description {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: left;
    align-self: end;
    max-width: 395px;
}

.resistente {
    max-width: 225px;
    font-family: "Averta-Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.button-custom-resistente {
    width: 255px;
    height: 53px;
    gap: 0px;
    border-radius: 15px;
    background: linear-gradient(84.69deg, #FF8B22 2.34%, #FFB719 84.48%);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.button-custom-resistente:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* Ajuste no container */
.row {
    padding: 20px 15px;
}

.jogue {
    max-width: 335px;
    margin: auto;
}

.Boneco-React {
    max-width: 385px !important;
}

@media (max-width: 768px) {
    .img-triangulo-esquerdo {
        max-width: 110px !important;

    }

    .img-triangulo-direito {
        max-width: 110px !important;
        /* Reduz tamanho */
        right: -11px !important;
    }

    /* Imagem de fundo */
    .custom-background {
        width: 100%;
        height: 580px;
        margin-left: -5%;
    }

    /* Aumenta a largura da imagem */
    .textocard-image {
        max-width: 95%;
        height: auto;
    }

    /* Texto com largura e alinhamento ajustados */
    .text-container {
        padding: 0 5%;
        max-width: 100%;
    }

    .custom-description {
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 15px;
    }

    /* Botão ajustado */
    .custom-btn {
        font-size: 1rem;
        padding: 10px 20px;
        background-color: #ffcc00;
        color: #000;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease, transform 0.2s ease;
    }

    .custom-btn:hover {
        opacity: 1;
        transform: scale(1.05);
    }

    .video-item {
        width: 100% !important;
        height: 300px !important;
        background-color: #000;
        overflow: hidden;
        position: relative;
        margin: 0;
    }

    .message-container {
        position: absolute;
        top: 17% !important;
        left: 56% !important;
        transform: translate(-50%, -50%);
        text-align: start !important;
        color: white;
        z-index: 10;
    }

    .message-text p {
        font-size: 14px !important;
        line-height: 1.5;
    }

    .message-text h3 {
        font-size: 15px !important;
        font-weight: bold;
        color: #f8f9fa;
    }

    /* Quiz Overlay */
    .quiz-overlay {
        position: absolute;
        top: 33%;
        left: 32%;
        transform: translate(-50%, -50%);
        width: 80%;
        border-radius: 10px;
        text-align: center;
    }

    .quiz-options .quiz-option {
        font-family: "Averta-Light";
        background-color: white;
        /* Fundo padrão */
        color: black;
        border: 2px solid transparent;
        border-radius: 8px;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .quiz-question {
        font-size: 14px !important;
        font-weight: bold !important;
        margin-bottom: 15px !important;
        color: white !important;
        text-align: start !important;
        margin: 0 auto !important;
    }

    .titleLogo {
        max-width: 100% !important;
    }

    .boneco-image {
        position: absolute;
        max-width: 265px !important;
        left: -107px !important;
        top: -100px !important;
        z-index: -99;
    }

    .bolinha-image {
        position: absolute;
        max-width: 315px !important;
        top: -200px !important;
        right: -170px !important;
        z-index: -99;
    }

    .Conquiste-title {
        font-size: 21px !important;
        font-weight: bold !important;
        color: #82EA5B !important;
        margin-bottom: 10px !important;
    }

    /* Descrição */
    .react-description {
        font-size: 14px !important;
        line-height: 1.6 !important;
        color: #FFFFFF !important;
        max-width: 800px !important;
        margin: 0 auto !important;
    }

    .quiz-options .quiz-option {
        font-family: "Averta-Regular";
        width: 100% !important;
        background-color: white;
        color: black;
        border: 2px solid transparent;
        border-radius: 8px;
        padding: 10px 20px;
        text-align: start !important;
        cursor: pointer;
        font-size: 10px !important;
        color: #006b3f;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .porta {
        max-width: 114% !important;
        max-height: 300px !important;
    }

    .jogue {
        max-width: 250px !important;
    }

    .resistente {
        font-family: "Averta-Light";
        font-size: 18px !important;
        font-weight: 400;
        line-height: 22.25px;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .Boneco-React {
        max-width: 100px !important;
    }
}

/* Imagem de Fundo */
.quiz-background {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

/* Quiz Overlay */
.quiz-overlay {
    position: absolute;
    top: 33%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

/* Pergunta */
.quiz-question {
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    margin-bottom: 15px;
    color: white;
    text-align: start;
    margin: 0 auto;
}

/* Opções de Resposta */
.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-options .quiz-option {
    font-family: "Averta-Regular";
    width: 92%;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    color: #006b3f;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/*.quiz-options .quiz-option:hover {
    border: 5px solid #82EA5B;
}*/

.counter {
    background-color: #006b3f;
    padding: 0px 15px 3.5px 15px;
    border-radius: 5px;
    font-size: 16px;
}

/* Contêiner da mensagem de vitória e derrota */
.message-container {
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

/* Estilo do texto da mensagem */
.message-text {
    margin-bottom: 20px;
}

.message-text h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f8f9fa;
}

.message-text p {
    font-size: 21px;

}

/* Botão personalizado para a vitória */
.button-victory {
    background-color: #28a745;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-victory:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.button-victory:active {
    background-color: #1e7e34;
}

/* Botão personalizado para a derrota */
.button-loss {
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-loss:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.button-loss:active {
    background-color: #c69500;
}

.simule {
    width: 235px;
    height: 60px;
    border: 2px solid #006B3F;
    background-color: transparent;
    color: #006B3F;
    border-radius: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.header {
    max-width: 660px;
}

.bem-vindo {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
}

.boneco-image {
    position: absolute;
    max-width: 525px;
    left: -260px;
    top: -145px;
    z-index: -99;
}

.bolinha-image {
    position: absolute;
    max-width: 540px;
    top: -225px;
    right: -510px;
    z-index: -99;
}

.mrvnobbb {
    font-family: "Averta-Regular";
    font-size: 36px;
    font-weight: 900;
    line-height: 44.5px;
    text-align: center;
}

.mrvnobbbgreen {
    color: #82EA5B;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 325px;
    border-radius: 20px;
    overflow: hidden;
    transform: rotateX(3deg) rotateY(16deg) rotateZ(-2deg);
    perspective: 450px;
    -webkit-perspective: 450px;
    margin-left: 50px;
}

.vector {
    position: absolute;
    bottom: 20px;
}

.custom-video-container {
    width: 50%;
}

.video-inner {
    border-radius: 20px;
    transform: rotateX(3deg) rotateY(16deg) rotateZ(-2deg);
    transform-origin: -40% 100% 0px;
    overflow: hidden;
    margin-left: 20px;
}

.video-inner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta o vídeo para cobrir toda a área */
}

.chamada {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
}

.compartilhe {
    font-family: "Averta-Light";
}