@font-face {
    font-family: 'Averta';
    src: url('../fonts/averta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Bold';
    src: url('../fonts/averta.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Light';
    src: url('../fonts/averta-light-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/averta-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Black';
    src: url('../fonts/averta-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-ExtraBold';
    src: url('../fonts/averta-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gshow-primary: #FF6700;
    --special-ad: #ffaa00;
    --text-primary: #333333;
    --confirmation-btn: #3AB7EA;
    --secondary: #FFFFFF;
    --verde: #004D2E;
}

.special-ad {
    background-color: var(--special-ad);
    color: var(--secondary);
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    padding: 0px 4px;
    display: inline-block;
}

.img-large {
    max-width: 150%;
    height: auto;
}


::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--verde);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--gshow-primary);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--special-ad);
}

html {
    overflow-y: scroll;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, #006B3F 0%, #079D56 100%);
    color: #fff;
}

.text-primeiroParagrafo {
    font-family: "Averta-Light";
    font-size: 19px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.highlight-bold {
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    color: white;
}

.cada-mulher {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}

.pointer {
    cursor: pointer;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.triangulo-container {
    position: absolute;
    top: 320px;
    right: 2px;
    z-index: 1;
}

.triangulo-direito {
    height: auto;
}

.triangulo-container-esquerdo {
    position: absolute;
    z-index: 1;
}

.m-800 {
    max-width: 800px;
    margin: auto;
}

.m-600 {
    max-width: 600px;
    margin: auto;
}

/* Imagem de fundo */
.custom-background {
    height: 745px;
    width: 100%;
    top: -60px;
    z-index: -99;
    position: absolute;
    background-image: url(../images/fundo-completo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.custom-text-overlay {
    max-width: 1000px;
}

.textocard-image {
    max-width: 370px;
    width: 100%;
    height: auto;
}

.custom-description {
    font-family: "Averta-Light";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
}

/* Botão */
.custom-btn {
    font-family: "Averta-Regular";
    margin-top: 20px;
    width: 228px;
    background: linear-gradient(80.85deg, #FF8B22 3.17%, #FFB719 91.16%);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition: background 1.5s ease, opacity 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
    transition: background 1.5s ease, opacity 0.3s ease, transform 0.2s ease;
    background: linear-gradient(80.85deg, #FFB719 3.17%, #FF8B22 91.16%);
    opacity: 1;
    transform: scale(1.05);
}

.circle-btn {
    width: 60px;
    height: 60px;
    background-color: #90EE90;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.circle-btn:hover {
    transform: scale(1.1);
}

.circle-btn i {
    color: white;
    font-size: 24px;
}

footer {
    color: #fff;
}

footer .fas {
    transition: transform 0.3s ease-in-out;
}

footer .fas:hover {
    transform: scale(1.2);
}

footer img {
    max-width: 150px;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

footer p {
    margin-bottom: 15px;
}

footer img {
    max-width: 50px;
    margin: 0 auto;
}

footer .btn {
    background-color: #fff;
    color: #006B3F;
    font-size: 1.5rem;
}

footer .btn:hover {
    background-color: #e0e0e0;
    color: #004D2E;
}

/* Container para os ícones */
.icon-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

/* Estilo para o hover nos ícones */
.icon-container:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Ajustando as imagens dentro dos ícones */
.icon-container img {
    max-width: 50%;
    max-height: 50%;
}

.video-item {
    width: 925px !important;
    height: 500px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}

.video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.react-title {
    font-size: 2rem;
    font-weight: bold;
    color: #F97316;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.Conquiste-title {
    font-size: 36px;
    font-weight: 900;
    color: #82EA5B;
    margin-bottom: 10px;
    font-family: "averta-Black";
}

#door-image-desktop {
    width: 100%;
    /* Ocupará todo o espaço do container */
    height: 100%;
    object-fit: cover;
    /* Redimensiona sem distorcer */
    max-width: none;
    margin-top: 30px;
    /* Evita que a imagem fique limitada */
}

/* Descrição */
.react-description {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: left;
    align-self: end;
    margin-left: 30px;
}

.react-description-2 {
    max-width: 395px;
}

.resistente {
    max-width: 225px;
    font-family: "Averta-Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.button-custom-resistente {
    width: 255px;
    height: 53px;
    gap: 0px;
    border-radius: 15px;
    background: linear-gradient(84.69deg, #FF8B22 2.34%, #FFB719 84.48%);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.ape {
    font-family: "Averta-ExtraBold";
    font-weight: 900;
}

.button-custom-resistente:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* Ajuste no container */
.row {
    padding: 20px 15px;
}

.jogue {
    max-width: 335px;
    margin: auto;
}

.Boneco-React {
    max-width: 385px !important;
}

/* Imagem de Fundo */
.quiz-background {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

/* Quiz Overlay */
.quiz-overlay {
    position: absolute;
    top: 33%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

/* Pergunta */
.quiz-question {
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    margin-bottom: 15px;
    color: white;
    text-align: start;
    margin: 0 auto;
}

/* Opções de Resposta */
.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-options .quiz-option {
    width: 92%;
    background-color: white;
    color: #006B3F;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.quiz-options .quiz-option:hover {
    border: 4px solid #07b56d;
}

.counter {
    background-color: #006b3f;
    padding: 1px 15px 2px 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: inline-block;
    /* Garante que o tamanho se ajuste ao conteúdo */
    text-align: center;
    min-width: 40px;
    /* Para garantir que o número tenha um tamanho fixo */
}

.question-container {
    display: flex;
    align-items: center;
    /* Alinha verticalmente */
    gap: 10px;
    /* Dá um espaçamento entre o número e o texto */
}

/* Contêiner da mensagem de vitória e derrota */
.message-container-loss {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    max-width: 412px;
}

.message-container-vic {
    position: absolute;
    top: 45%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    max-width: 415px;
}

/* Estilo do texto da mensagem */
.message-text {
    margin-bottom: 20px;

}

.message-text h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f8f9fa;
}

.message-text p {
    font-family: 'Averta-Light';
    font-size: 18px;
    font-weight: 550;
    line-height: 24.72px;
    text-align: center;
}

/* Botão personalizado para a vitória */
.button-victory {
    background-color: #28a745;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-victory:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.button-victory:active {
    background-color: #1e7e34;
}

/* Botão personalizado para a derrota */
.button-loss {
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-loss:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.button-loss:active {
    background-color: #c69500;
}

.simule {
    width: 235px;
    height: 60px;
    border: 2px solid #006B3F;
    background-color: transparent;
    color: #006B3F;
    border-radius: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.header {
    max-width: 660px;
}

.bem-vindo {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
}

.boneco-image {
    position: absolute;
    max-width: 525px;
    left: -260px;
    top: -145px;
    z-index: -99;
}

.bolinha-image {
    position: absolute;
    max-width: 540px;
    top: -225px;
    right: -510px;
    z-index: -99;
}

.mrvnobbb {
    font-family: "Averta-Black";
    font-size: 36px;
    font-weight: 900;
    line-height: 44.5px;
    text-align: center;
}

.extrabold {
    font-family: "Averta-Black";
}

.mrvnobbbgreen {
    font-family: "Averta-Black";
    color: #82EA5B;
}

.video-wrapper {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    margin: auto;
}

.vector {
    position: absolute;
    bottom: 30px;
    left: 15%;
    z-index: -99;
}

.video-inner {
    position: relative;
    border-radius: 20px;
    /* transform: rotateX(3deg) rotateY(16deg) rotateZ(-2deg);
    transform-origin: -40% 100% 0px; */
    margin-left: 22%;
}

.video-inner img {
    width: 330px;
    height: 100%;
    object-fit: cover;
}

.video-inner .play {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 135px;
    top: 135px;
    transition: 0.5s;
    cursor: pointer;
}

.video-inner .play:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.modal-content {
    min-height: 150px;
}

.chamada {
    font-family: "Averta-Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-align: center;
}

.compartilhe {
    font-family: "Averta-Light";
}

.custom-span {
    font-family: "Averta-Regular";
    font-size: 20px;
    font-weight: 800;
    line-height: 24.72px;
    text-align: center;
}

.img-1 {
    bottom: -220px;
    z-index: -99;
    right: 10px;
}

.modal-content,
.modal-body {
    background-color: #000;
    min-height: 350px;
    border-radius: 25px !important;
}

.modal-body video {
    border-radius: 25px !important;
}

.clappr-player {
    width: 100% !important;
    border-radius: 25px !important;
}

@media (max-width: 992px) {
    .img-triangulo-esquerdo {
        max-width: 110px !important;

    }

    .triangulo-container {
        position: absolute;
        top: 355px;
        z-index: 1;
        max-width: 235px;
    }

    .img-triangulo-direito {
        max-width: 110px !important;
        /* Reduz tamanho */
        right: -11px !important;
    }

    /* Aumenta a largura da imagem */
    .textocard-image {
        margin-top: -17.5px;
        max-width: 300px !important;
        height: auto;
    }

    /* Texto com largura e alinhamento ajustados */
    .text-container {
        padding: 0 5%;
        max-width: 100%;
    }

    .custom-description {
        font-size: 12px !important;
        line-height: 1.5;
        text-align: justify;
    }

    /* Botão ajustado */
    .custom-btn {
        margin-top: 0px !important;
        max-width: 100% !important;
    }

    .custom-btn:hover {
        opacity: 1 !important;
        transform: scale(1.05) !important;
    }

    .video-item {
        width: 100% !important;
        height: 300px !important;
        background-color: #000;
        overflow: hidden;
        position: relative;
        margin: 0;
    }

    .message-container {
        position: absolute;
        top: 17% !important;
        left: 56% !important;
        transform: translate(-50%, -50%);
        text-align: start !important;
        color: white;
        z-index: 10;
    }

    .message-text p {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.3px;
        margin-bottom: 5px;
        text-align: center;
    }

    .message-text h3 {
        font-size: 16px;
        font-weight: 800;
        line-height: 20.25px;
        margin-bottom: 5px;
        text-align: center;
    }

    .custom-span {
        font-size: 12px;
        font-weight: 800;
        line-height: 15.3px;
        margin-bottom: 5px;
        text-align: center;
    }

    /* Quiz Overlay */
    .quiz-overlay {
        position: relative !important;
        transform: none !important;
        width: 100% !important;
        top: 0px;
        left: 0px;
    }

    .quiz-question {
        font-size: 14px !important;
        line-height: 24.66px !important;
        font-weight: bold !important;
        margin-bottom: 15px !important;
        color: white !important;
        text-align: start !important;
        margin: 0 auto !important;
        margin-bottom: 10px !important;
    }

    .titleLogo {
        max-width: 202.93px !important;
    }

    .boneco-image {
        position: absolute;
        max-width: 260px !important;
        left: -95px !important;
        top: -100px !important;
        z-index: -99;
    }

    .bolinha-image {
        position: absolute;
        max-width: 310px !important;
        top: -200px !important;
        right: -155px !important;
        z-index: -99;
    }

    .Conquiste-title {
        font-size: 21px !important;
        font-weight: bold !important;
        color: #82EA5B !important;
        margin-bottom: 10px !important;
    }

    /* Descrição */
    .react-description {
        font-size: 14px !important;
        line-height: 1.6 !important;
        color: #FFFFFF !important;
        max-width: 330px !important;
        margin: 0 auto !important;
    }

    .react-description-2 {
        max-width: 395px;
    }

    .quiz-options .quiz-option {
        width: 100% !important;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 800 !important;
        line-height: 17.3px !important;
    }

    .porta {
        width: 350px !important;
        max-height: 300px !important;
        margin-top: -30px !important;
    }

    .jogue {
        max-width: 100% !important;
    }

    .resistente {
        font-family: "Averta-Light";
        font-size: 15px !important;
        font-weight: 400;
        line-height: 22.25px;
        text-align: start !important;
        text-decoration-skip-ink: none;
    }

    .Boneco-React {
        max-width: 100% !important;
    }

    body {
        overflow-x: hidden !important;
    }

    .bem-vindo {
        font-family: "Averta-Light";
        font-size: 14px !important;
        font-weight: 400;
        line-height: 22.25px;
        text-align: center;
    }

    .mrvnobbb {
        font-family: "Averta-Regular" !important;
        font-size: 20px !important;
        font-weight: 900 !important;
        line-height: 29.5px !important;
        text-align: center !important;
    }

    /* Contêiner da mensagem de vitória e derrota */
    .message-container-vic {
        position: absolute;
        top: 61% !important;
        left: 51% !important;
        transform: translate(-50%, -50%) !important;
        text-align: center;
        color: white;
        z-index: 10;
        max-width: 280px !important;
    }

    /* Contêiner da mensagem de vitória e derrota */
    .message-container-loss {
        position: absolute !important;
        top: 64% !important;
        left: 53% !important;
        transform: translate(-50%, -50%) !important;
        text-align: center !important;
        color: white !important;
        z-index: 10 !important;
        max-width: 280px !important;
    }

    .recomecar {
        width: 148px !important;
        height: 34px !important;
        border: 2px solid #006B3F;
        background-color: transparent;
        color: #006B3F;
        border-radius: 10px 0px 0px 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 10px;
    }

    .simule {
        width: 200px !important;
        height: 44px !important;
        border: 2px solid #006B3F !important;
        background-color: transparent !important;
        color: #006B3F !important;
        border-radius: 10px 10px 10px 10px !important;
        font-size: 18px;
        font-weight: bold !important;
        text-align: center !important;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 10px !important;
    }

    .m-600 {
        width: 300px !important;
        padding-left: 25px !important;
    }

    .custom-background {
        min-width: 350px !important;
        background-image: url(../images/fundo-completo2.png) !important;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 475px !important;
    }

    .video-wrapper {
        width: 100%;
        height: 100%;
        perspective: 100%;
        -webkit-perspective: 100%;
    }

    .video-inner {
        margin-left: 30px !important;
    }

    .vector {
        width: 200px !important;
        left: 10px !important;
    }

    .counter {
        padding: 0px 15px 3.5px 15px !important
    }

    .quiz-options .quiz-option:hover {
        border: 3px solid #07b56d !important
    }

    .img-cel {
        margin-top: -40px;
    }

    .img-cel1 {
        margin-bottom: 18px;
    }

    .img-cel2 {
        margin-bottom: 18px;
    }


}